header {
	background-color: skyblue;
	height: 100px;
	position: relative;
	margin-bottom: 50px;
}

.home-link{
	display: inline-block;
	color: white;
	position: absolute;
	top: 25%;
	left: 25px;
	font-size: 32px;
}

.logout-link{
  color: white;
  font-size: 32px;
  display: inline-block;
  padding-top: 22.5px;
  padding-right: 25px;
}

.title p{
	padding: 0, 25px;
}

.main {
	background-color: #e6f0f0;
}


