header {
	background-color: skyblue;
	height: 100px;
	position: relative;
	margin-bottom: 50px;
}

.title a{
	display: inline-block;
	color: white;
	position: absolute;
	top: 25%;
	left: 25px;
	font-size: 32px;
}

.title p{
	padding: 0, 25px;
}

.main {
	background-color: #e6f0f0;
}


