<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">

	<!-- bootstrapの設定 -->
	<link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
		rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>

	<!-- cssの設定 -->
	<link th:href="@{/css/style.css}" rel="stylesheet">

	<title>日付計算アプリ</title>
</head>

<header>
  <a th:href="@{'/'}">日付計算アプリ</a>
</header>

<body>
  <div class="main">
    <div class="container">
      <p>計算の基準となる日付を入力してください</p>
      <div class="form">
        <form th:action="@{/}" method="post" id="form">
          <input type="text" name="referenceDate">
        </form>
        <button type="submit" form="form">計算実行</button>
      </div>
      <a th:href="@{'/'}">新規登録</a>
      <a th:href="@{'/result'}">計算式表示</a>
    </div>
  </div>

  <div th:if="${result}">
	  <table th:object="${result}">
	    <tr>
	      <th>No.</th>
	      <th>日付ID</th>
	      <th>日付名</th>
	      <!-- <th>計算結果</th> -->
	      <th>計算式(年月日)</th>
	      <!-- <th>編集</th> -->
	    </tr>
	    <tr th:each="date, st : *{dateFormula}">
	      <td th:text="*{dateFormula[__${st.index}__].id}"></td>
	      <td th:text="*{dateFormula[__${st.index}__].dateId}"></td>
	      <td th:text="*{dateFormula[__${st.index}__].name}"></td>
	      <!-- <td th:text="${formula.yearModeration}"></td> -->
	      <td th:text="${referenceDate}"></td>
	      <!-- <td th:text="${formula.dayModeration}"></td> -->
	    </tr>
	  </table>
  </div>

</body>

</html>